/*fancyapp*/
.fancybox-wrap, .fancybox-skin, .fancybox-outer, .fancybox-inner, .fancybox-image, .fancybox-wrap iframe, .fancybox-wrap object, .fancybox-nav, .fancybox-nav span, .fancybox-tmp { padding:0; margin:0; border:0; outline:0; vertical-align:top }

.fancybox-wrap { position:absolute; top:0; left:0; z-index:8020 }

.fancybox-skin { position:relative; background:#fff; color:#444; text-shadow:none; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px }

.fancybox-opened { z-index:8030 }

.fancybox-opened .fancybox-skin { -webkit-box-shadow:0 10px 25px rgba(0, 0, 0, .5); -moz-box-shadow:0 10px 25px rgba(0, 0, 0, .5); box-shadow:0 10px 25px rgba(0, 0, 0, .5) }

.fancybox-outer, .fancybox-inner { position:relative }

.fancybox-inner { overflow:hidden }

.fancybox-type-iframe .fancybox-inner { -webkit-overflow-scrolling:touch }

.fancybox-error { color:#444; font:14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif; margin:0; padding:15px; white-space:nowrap }

.fancybox-image, .fancybox-iframe { display:block; width:100%; height:100% }

.fancybox-image { max-width:100%; max-height:100% }

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span { background-image:url(../img/fancybox_sprite.png) }

#fancybox-loading { position:fixed; top:50%; left:50%; margin-top:-22px; margin-left:-22px; background-position:0 -108px; opacity:.8; cursor:pointer; z-index:8060 }

#fancybox-loading div { width:44px; height:44px; background:url(../img/fancybox_loading.gif) center center no-repeat }

.fancybox-close { position:absolute; top:-18px; right:-18px; width:36px; height:36px; cursor:pointer; z-index:8040 }

.fancybox-nav { position:absolute; top:0; width:40%; height:100%; cursor:pointer; text-decoration:none; background:transparent url(../img/blank.gif); -webkit-tap-highlight-color:rgba(0, 0, 0, 0); z-index:8040 }

.fancybox-prev { left:0 }

.fancybox-next { right:0 }

.fancybox-nav span { position:absolute; top:50%; width:36px; height:34px; margin-top:-18px; cursor:pointer; z-index:8040; visibility:hidden }

.fancybox-prev span { left:10px; background-position:0 -36px }

.fancybox-next span { right:10px; background-position:0 -72px }

.fancybox-nav:hover span { visibility:visible }

.fancybox-tmp { position:absolute; top:-99999px; left:-99999px; visibility:hidden; max-width:99999px; max-height:99999px; overflow:visible !important }

.fancybox-lock { overflow:hidden !important; width:auto }

.fancybox-lock body { overflow:hidden !important }

.fancybox-lock-test { overflow-y:hidden !important }

.fancybox-overlay { position:absolute; top:0; left:0; overflow:hidden; display:none; z-index:8010; background:url(../img/fancybox_overlay.png) }

.fancybox-overlay-fixed { position:fixed; bottom:0; right:0 }

.fancybox-lock .fancybox-overlay { overflow:auto; overflow-y:scroll }

.fancybox-title { visibility:hidden; font:400 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif; position:relative; text-shadow:none; z-index:8050 }

.fancybox-opened .fancybox-title { visibility:visible }

.fancybox-title-float-wrap { position:absolute; bottom:0; right:50%; margin-bottom:-35px; z-index:8050; text-align:center }

.fancybox-title-float-wrap .child { display:inline-block; margin-right:-100%; padding:2px 20px; background:transparent; background:rgba(0, 0, 0, .8); -webkit-border-radius:15px; -moz-border-radius:15px; border-radius:15px; text-shadow:0 1px 2px #222; color:#FFF; font-weight:700; line-height:24px; white-space:nowrap }

.fancybox-title-outside-wrap { position:relative; margin-top:10px; color:#fff }

.fancybox-title-inside-wrap { padding-top:10px }

.fancybox-title-over-wrap { position:absolute; bottom:0; left:0; color:#fff; padding:10px; background:#000; background:rgba(0, 0, 0, .8) }

@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min--moz-device-pixel-ratio:1.5), only screen and (min-device-pixel-ratio:1.5) {
	#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span { background-image:url(../img/fancybox_sprite@2x.png); background-size:44px 152px }
	#fancybox-loading div { background-image:url(../img/fancybox_loading@2x.gif); background-size:24px 24px }
}

/*alert*/
#fallr-overlay { display:none; position:fixed; left:0; top:0; background:#333; height:100%; width:100%; -ms-filter:"alpha(Opacity=50)"; filter:alpha(opacity=50); opacity:.5 }

#fallr-wrapper, #fallr-wrapper * { margin:0; padding:0; border:0; outline:0; font-family:Helvetica, Ubuntu, Arial, sans-serif; font-size:13px; font-weight:400; line-height:19px; color:#555; text-shadow:1px 1px 1px #fff; vertical-align:baseline; -webkit-font-smoothing:antialiased }

#fallr-wrapper { position:fixed; overflow:hidden; background:#f0f0f0; border:1px solid #fff; box-shadow:0 1px 10px rgba(32, 32, 32, .5); -moz-box-shadow:0 1px 10px rgba(32, 32, 32, .5); -webkit-box-shadow:0 1px 10px rgba(32, 32, 32, .5) }

#fallr-icon { position:absolute; top:35px; left:20px; height:64px; width:64px; background-position:0 0; background-repeat:no-repeat }

#fallr { position:relative; padding:40px 20px 20px 72px }

#fallr-buttons { position:relative; bottom:0; right:0; margin:0 15px 15px; clear:both; display:block; text-align:right }

#fallr button, #fallr input[type=submit], #fallr-wrapper .fallr-button { position:relative; overflow:visible; display:inline-block; padding:4px 15px; margin-left:10px; margin-top:10px; text-decoration:none; text-shadow:1px 1px 0 #fff; white-space:nowrap; cursor:pointer; background-color:#ececec; background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec)); background-image:-moz-linear-gradient(#f4f4f4, #ececec); background-image:-o-linear-gradient(#f4f4f4, #ececec); background-image:linear-gradient(#f4f4f4, #ececec); -webkit-background-clip:padding; -moz-background-clip:padding; -o-background-clip:padding-box; border:1px solid rgba(0, 0, 0, .25); -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; box-shadow:0 0 0 transparent; -moz-box-shadow:0 0 0 transparent; -webkit-box-shadow:0 0 0 transparent; transition:box-shadow .3s linear; -moz-transition:box-shadow .3s linear; -webkit-transition:box-shadow .3s linear }

#fallr button:focus, #fallr button:hover, #fallr input[type=submit]:focus, #fallr input[type=submit]:hover, #fallr-wrapper .fallr-button:focus, #fallr-wrapper .fallr-button:hover { border-color:#3072b3; border-bottom-color:#2a65a0; text-decoration:none; text-shadow:-1px -1px 0 rgba(0, 0, 0, .3); color:#fff; cursor:default; background-color:#3C8DDE; background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3)); background-image:-moz-linear-gradient(#599bdc, #3072b3); background-image:-o-linear-gradient(#599bdc, #3072b3); background-image:linear-gradient(#599bdc, #3072b3); box-shadow:0 0 3px rgba(50, 50, 50, .3); -moz-box-shadow:0 0 3px rgba(50, 50, 50, .3); -webkit-box-shadow:0 0 3px rgba(50, 50, 50, .3); transition:box-shadow .3s linear; -moz-transition:box-shadow .3s linear; -webkit-transition:box-shadow .3s linear }

#fallr-wrapper .fallr-button.fallr-button-danger { color:#900 }

#fallr-wrapper .fallr-button.fallr-button-danger:focus, #fallr-wrapper .fallr-button.fallr-button-danger:hover { border-color:#b53f3a; border-bottom-color:#a0302a; color:#fff; background-color:#dc5f59; background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#dc5f59), to(#b33630)); background-image:-moz-linear-gradient(#dc5f59, #b33630); background-image:-o-linear-gradient(#dc5f59, #b33630); background-image:linear-gradient(#dc5f59, #b33630) }

#fallr abbr { border-bottom:1px dotted #333 }

#fallr form, #fallr h1, #fallr h2, #fallr h3, #fallr h4, #fallr h5, #fallr h6, #fallr input, #fallr label, #fallr p { margin-bottom:10px }

#fallr h3 { font-size:30px; line-height:45px }

#fallr h4 { font-size:25px; line-height:37px }

#fallr h5 { font-size:20px; line-height:30px }

#fallr input[type=password], #fallr input[type=text], #fallr textarea { background:#fff; border:solid 1px #999; color:#777; padding:5px; width:97%; box-shadow:inset #bbb 0 0 5px; -moz-box-shadow:inset #bbb 0 0 5px; -webkit-box-shadow:inset #bbb 0 0 5px; transition:all .3s linear; -moz-transition:all .3s linear; -webkit-transition:all .3s linear }

#fallr input[type=password]:focus, #fallr input[type=text]:focus, #fallr textarea:focus { box-shadow:inset #7bbdfe 0 0 7px; -moz-box-shadow:inset #7bbdfe 0 0 7px; -webkit-box-shadow:inset #7bbdfe 0 0 7px; transition:all .3s linear; -moz-transition:all .3s linear; -webkit-transition:all .3s linear }

#fallr blockquote, #fallr ol li, #fallr q, #fallr ul li { margin-left:20px }

#fallr table { border:1px solid #ddd; border-collapse:collapse; border-spacing:0; line-height:1.35em; width:100% }

#fallr td, #fallr th { padding:10px }

#fallr th { background-color:#cecece; background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ececec), to(#cecece)); background-image:-moz-linear-gradient(#ececec, #cecece); background-image:-o-linear-gradient(#ececec, #cecece); background-image:linear-gradient(#ececec, #cecece) }

.icon-calendar { background:url(../img/icons/calendar.png) }

.icon-chat { background:url(../img/icons/chat.png) }

.icon-check { background:url(../img/icons/check.png) }

.icon-config { background:url(../img/icons/wrench.png) }

.icon-error { background:url(../img/icons/error.png) }

.icon-pen { background:url(../img/icons/pen.png) }

.icon-help { background:url(../img/icons/help.png) }

.icon-info { background:url(../img/icons/info.png) }

.icon-lamp { background:url(../img/icons/lamp.png) }

.icon-mail { background:url(../img/icons/mail.png) }

.icon-photo { background:url(../img/icons/camera.png) }

.icon-secure { background:url(../img/icons/unlock.png) }

.icon-trash { background:url(../img/icons/trash.png) }

.icon-up { background:url(../img/icons/up.png) }

.icon-down { background:url(../img/icons/down.png) }

.icon-left { background:url(../img/icons/left.png) }

.icon-right { background:url(../img/icons/right.png) }

.icon-at { background:url(../img/icons/at.png) }

.icon-bar { background:url(../img/icons/bars.png) }

.icon-book { background:url(../img/icons/book.png) }

.icon-chart { background:url(../img/icons/chart.png) }

.icon-clock { background:url(../img/icons/clock.png) }

.icon-gear { background:url(../img/icons/cog.png) }

.icon-document { background:url(../img/icons/document.png) }

.icon-folder { background:url(../img/icons/folder.png) }

.icon-heart { background:url(../img/icons/heart.png) }

.icon-home { background:url(../img/icons/home.png) }

.icon-key { background:url(../img/icons/key.png) }

.icon-magnifier { background:url(../img/icons/magnifier.png) }

.icon-pin { background:url(../img/icons/pin.png) }

.icon-minus { background:url(../img/icons/minus.png) }

.icon-window { background:url(../img/icons/window.png) }

.icon-plus { background:url(../img/icons/plus.png) }

.icon-reload { background:url(../img/icons/reload.png) }

.icon-quote { background:url(../img/icons/quote.png) }

.icon-star { background:url(../img/icons/star.png) }

.icon-tag { background:url(../img/icons/tag.png) }

/*tipsy*/
.tipsy { font-size:10px; position:absolute; padding:5px; z-index:100000; font-family:arial; }

.tipsy-inner { background-color:#000; color:#FFF; max-width:200px; padding:5px 8px 4px; text-align:center }

.tipsy-inner { border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px }

.tipsy-arrow { position:absolute; width:0; height:0; line-height:0; border:5px dashed #000 }

.tipsy-arrow-n { border-bottom-color:#000 }

.tipsy-arrow-s { border-top-color:#000 }

.tipsy-arrow-e { border-left-color:#000 }

.tipsy-arrow-w { border-right-color:#000 }

.tipsy-n .tipsy-arrow { top:0; left:50%; margin-left:-5px; border-bottom-style:solid; border-top:0; border-left-color:transparent; border-right-color:transparent }

.tipsy-nw .tipsy-arrow { top:0; left:10px; border-bottom-style:solid; border-top:0; border-left-color:transparent; border-right-color:transparent }

.tipsy-ne .tipsy-arrow { top:0; right:10px; border-bottom-style:solid; border-top:0; border-left-color:transparent; border-right-color:transparent }

.tipsy-s .tipsy-arrow { bottom:0; left:50%; margin-left:-5px; border-top-style:solid; border-bottom:0; border-left-color:transparent; border-right-color:transparent }

.tipsy-sw .tipsy-arrow { bottom:0; left:10px; border-top-style:solid; border-bottom:0; border-left-color:transparent; border-right-color:transparent }

.tipsy-se .tipsy-arrow { bottom:0; right:10px; border-top-style:solid; border-bottom:0; border-left-color:transparent; border-right-color:transparent }

.tipsy-e .tipsy-arrow { right:0; top:50%; margin-top:-5px; border-left-style:solid; border-right:0; border-top-color:transparent; border-bottom-color:transparent }

.tipsy-w .tipsy-arrow { left:0; top:50%; margin-top:-5px; border-right-style:solid; border-left:0; border-top-color:transparent; border-bottom-color:transparent }


/* BXSLIDER*/
.bx-wrapper {
	position: relative;
	margin: 0 auto 60px;
	padding: 0;
	*zoom: 1;
}

.bx-wrapper img {
	max-width: 100%;
	display: block;
}
.bx-wrapper .bx-viewport {
	-moz-box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 5px #ccc;
	border:  5px solid #fff;
	left: -5px;
	background: #fff;

	/*fix other elements on the page moving (on Chrome)*/
	-webkit-transform: translatez(0);
	-moz-transform: translatez(0);
	-ms-transform: translatez(0);
	-o-transform: translatez(0);
	transform: translatez(0);
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: -30px;
	width: 100%;
}

.bx-wrapper .bx-loading {
	min-height: 50px;
	background: url(../img/bx_loader.gif) center center no-repeat #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}
.bx-wrapper .bx-pager {
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background: #666;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #000;
}

.bx-wrapper .bx-prev {
	left: 10px;
	background: url(../img/controls.png) no-repeat 0 -32px;
}

.bx-wrapper .bx-next {
	right: 10px;
	background: url(../img/controls.png) no-repeat -43px -32px;
}

.bx-wrapper .bx-prev:hover {
	background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
	background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -16px;
	outline: 0;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}
.bx-wrapper .bx-controls-auto {
	text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	background: url(../img/controls.png) -86px -11px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
	background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;
	background: url(../img/controls.png) -86px -44px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
	background-position: -86px -33px;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}
.bx-wrapper .bx-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #666\9;
	background: rgba(80, 80, 80, 0.75);
	width: 100%;
}

.bx-wrapper .bx-caption span {
	color: #fff;
	display: block;
	font-size: .85em;
	padding: 10px;
}
